version: "3.8"

services:

  tts_api:
    container_name: tts_api
    build: ./tts_api
    restart: always
    networks:
      - tts_net
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/keys/service-account.json
      - GOOGLE_CLOUD_PROJECT=jangihbot
    volumes:
      - ./tts_api/keys:/app/keys

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    networks:
      - tts_net
    command: >
      tunnel --no-autoupdate run --token 
networks:
  tts_net:
    driver: bridge
